/* Hide Radio button */
.rate > input{
  display: none;
}

.rate{
  display: inline-block;;
  border: 0;
}

.rate > label{
  float: right;
}

/* Showing the stars */
.rate > label:before{
  display: inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome; /* fontawseom dah downloadletak kat link [=]base.html[]teplate[]store  */
  content: "\f005"; /* full stars */
  margin:0;
  padding:0.3rem .2rem;
  cursor: pointer;
}

/* Half stars */
.rate .half:before{
  content: "\f089"; /* inilah half star nya  stars */
  position: absolute; /* ini yang jadikan dia separuh, die macam masuk dalam star full star */
  padding-right: 0;
}

/* Click and hover(gerakkan cursor dia dah keluo warna) */
input:checked ~ label, label:hover ~ label{
  color: #ffb503;
}

/* hover highlight */
input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
  color: #cc9000;
}

.rating-star i{ /* i tu refer kepada i clas kepada 5 jenis bintang tu */
  color: #ffb503 !important;
}
